
 .navbar h3 {
  text-align: left;
  padding-right: 10%;
 }


.navbar {
  background-color: blueviolet;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: end;
  margin-bottom: 12em;
}

ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: black;
}